
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <h1 class="display-1">TSP Trainee Tracker</h1>
        <div class="card  rounded">
            <div class="card-header"><strong>Exam 08 Project</strong></div>
            <div class="card-body bg-secondary text-white">
                <div>
                    This project is developed for exam 08 submission. 
                </div>
            </div>
        </div>
    </div>
</div>

